[Unit]
Description=KiwiIRC WebIRC
After=network.target

[Service]
WorkingDirectory=/home/{{ kiwiirc.user }}/KiwiIRC
User={{ kiwiirc.user }}
ExecStart=/home/{{ kiwiirc.user }}/KiwiIRC/kiwi -f
RestartSec=60
Restart=always

[Install]
WantedBy=multi-user.target
