[Unit]
Description=Nagios IRC Bot
After=network.target

[Service]
User=nagios
ExecStart=/usr/local/bin/nagircbot -d -f /var/cache/icinga2/status.dat -s {{ icinga_irc_server }} -c '{{ icinga_irc_channel }}' -n {{ icinga_irc_nick }}
RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target
