<!DOCTYPE html>
<html>
  <head>
    <meta  content="text/html; charset=UTF-8"  http-equiv="content-type">
    <title></title>
  </head>
  <body>
    <p><a  href="tmtp:///#join={{ ansible_default_ipv4.address }}">Join LAN-Server</a></p>
  </body>
</html>
